@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css");

:root {
  --md-text-font: "Vazirmatn";
  --md-code-font: "JetBrains Mono";
}

body {
  direction: rtl;
  text-align: right;
}

.md-typeset {
  font-size: 0.82rem;
  line-height: 1.95;
}

.md-typeset table {
  direction: rtl;
}

.md-typeset code,
.md-typeset pre {
  direction: ltr;
  text-align: left;
}